<title>UpBSocial</title>
<meta
  name="viewport"
/>
<!-- BOOTSTRAP -->
<link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css" />
<!-- Google Iconos -->
<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<!-- CSS -->
<link rel="stylesheet" href="/public/css/styles.css" />